/* p,li,h1{
    color:red;
    width: 500px;
    border:1px solid black

} */
html {
  font-size: 10px;
  /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif;
  /* 这应该是你从 Google Fonts 得到的其余输出。 */
  background-color: #00539f;
}

body {
  width: 600px;
  /* 强制页面永远保持600像素宽 */
  margin: 0 auto;
  /* /* 外边距 第一个值影响元素的上下方向（在这个例子中设置为 0）；
  第二个值影响左右方向。(这里，auto 是一个特殊的值，它将可用的水平空间平均分配给左和右） */
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  /* 内边距设置了四个值来让内容四周产生一点空间。这一次我们不设置上方的内边距，
  设置右边，下方，左边的内边距为 20 像素。值以上、右、下、左的顺序排列。与 margin 一样 */
  border: 5px solid black;
  /* 边框 主体的所有侧面的 5 像素宽的纯黑色边框*/
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;/*阴影*/
  /* 第一个像素值设置阴影与文本的水平偏移量：它横移的距离。
  第二个像素值设置阴影与文本的垂直偏移量：它向下移动的距离。
  第三个像素值设置阴影的模糊半径。一个更大的值会产生一个更模糊的阴影。
  第四个值设置阴影的基色 */
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  /* 字间距 为 1个像素点 */
}
img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}